* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
}

body {
  background-color: tan;
}

h1,
h2 {
  font-family: 'Tangerine', cursive;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

figcaption>a {
  color: brown;
}

.navbar {
  background-color: rgb(58, 8, 8);
  /* darkgrey; */
}

.navbar-toggler {
  margin-left: 20px !important;
}

.img-rounded {
  border-radius: 8px;
}

.jumbotron {
  /* margin: 0; */
  /* padding: 30px; */
  color: white;
}

header.jumbotron {
  background-image: linear-gradient(to right, darkolivegreen 0%, saddlebrown 30%, saddlebrown 70%, darkolivegreen 100%);
}

footer.jumbotron {
  background-image: linear-gradient(to right, saddlebrown 0%, darkolivegreen 30%, darkolivegreen 70%, saddlebrown 100%);
}

.capitalize {
  text-transform: capitalize;
}

.carousel {
  border: solid saddlebrown;
  border-width: 8px;
  border-radius: 8px;
}

.carousel-control {
  border: none;
  opacity: 70%;
}

.carousel-control:hover {
  opacity: 100%
}

#homeCarouselImg {
  object-fit: cover;
  object-position: center;
  height: 80vh;
  overflow: hidden;
}

.slide-container {
  position: relative;
  text-align: center;
  color: black;
}

/* Bottom left text */
.slide-caption {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 8px;
  margin-bottom: 8px;
}

.gallery-header {
  font-size: 3rem;
  color: rgb(58, 8, 8);
}

.sub-header {
  font-size: 1.3rem;
  color: rgb(58, 8, 8);
}

.text-link {
  color: olivedrab;
}

.text-link:hover {
  color: darkolivegreen;
}

.photo-gallery {
  color: #313437;
  background-color: #fff;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.thumbnail {
  max-width: 200px;
  object-fit: contain;
}

.thumbnail-lg {
  max-width: 300px;
  object-fit: contain;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

#logo {
  width: 128px;
  height: 128px;
}

#etsy-icon {
  width: 64px;
  height: 64px;
}

#email {
  color: white;
  text-decoration: none;
}

.navbar-item {
  margin-left: 20px !important;
}

.nav-dropdown-item {
  color: black !important;
  font-size: 1.2rem !important;
  padding: 0 !important;
}

.navbar-right-item {
  margin-right: 60px !important;
}

/* Bootstrap Alterations */
.img-thumbnail:hover {
  border-color: darkgreen;
}

.sold {
  border: none;
}

.sold-text {
  color: red;
}

.emoji {
  height: 28px;
  width: 28px;
}

.avatar {
  color: white;
  margin-left: 10px;
}